Node Red Code.json
[{"id":"32b7baab.dfcfc6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8c76ae11.66831","type":"ui_tab","z":"","name":"Customer Care Helpdesk","icon":"dashboard","disabled":false,"hidden":false},{"id":"d6a412dd.36a8f","type":"ui_group","z":"","name":"Chatbot","tab":"8c76ae11.66831","order":1,"disp":true,"width":22,"collapse":false},{"id":"446187cc.d4cce8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Customer Care Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":40,"sy":40,"gx":15,"gy":15,"cx":30,"cy":30,"px":20,"py":20}}},{"id":"a5e42d7b.4b02c","type":"ui_spacer","name":"spacer","group":"d6a412dd.36a8f","order":1,"width":9,"height":1},{"id":"789f6e29.6629d","type":"ui_spacer","name":"spacer","group":"d6a412dd.36a8f","order":5,"width":9,"height":1},{"id":"7ea70f66.25328","type":"ui_form","z":"32b7baab.dfcfc6","name":"","label":"","group":"d6a412dd.36a8f","order":3,"width":9,"height":2,"options":[{"label":"Enter your input...","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":260,"wires":[["2ec4a1f9.247c0e"]]},{"id":"2ec4a1f9.247c0e","type":"function","z":"32b7baab.dfcfc6","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":200,"wires":[["f8cd0fc7.100b7","5e86d948.4fb7b8"]]},{"id":"8c282651.0e7468","type":"function","z":"32b7baab.dfcfc6","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":200,"wires":[["cda9c73.cd82e38"]]},{"id":"5e86d948.4fb7b8","type":"watson-conversation-v1","z":"32b7baab.dfcfc6","name":"Customer Care ","workspaceid":"","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":540,"y":80,"wires":[["39fc281d.760048","8c282651.0e7468"]]},{"id":"f8cd0fc7.100b7","type":"ui_text","z":"32b7baab.dfcfc6","group":"d6a412dd.36a8f","order":2,"width":13,"height":1,"name":"","label":"You : ","format":"{{msg.payload}}","layout":"col-center","x":530,"y":360,"wires":[]},{"id":"39fc281d.760048","type":"debug","z":"32b7baab.dfcfc6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":60,"wires":[]},{"id":"cda9c73.cd82e38","type":"ui_text","z":"32b7baab.dfcfc6","group":"d6a412dd.36a8f","order":4,"width":13,"height":3,"name":"","label":"Bot :","format":"{{msg.payload}}","layout":"col-center","x":910,"y":420,"wires":[]}]